body{
    background-color: cyan;
}
h1{
    font-family: monospace;
    font-style: oblique;
    font-weight: bolder;
    color: darkslateblue;
}
h3{
    color: darkblue;
}
h4{
    color: rgb(48, 73, 18);
}
label{
   color: darkkhaki; 
}
#camera{
    width: 500px;
    height: 400px;
    border-color: rgb(48, 10, 10);
}
img{
    width: 300px;
    height: 200px;
    border-radius: 15;
    padding: 10px;
    box-shadow: crimson;
}
#footer{
    float: right;
    color: whitesmoke;
}
